/* ============================= */
/* GLOBAL SETTINGS */
/* ============================= */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* ============================= */
/* NAVBAR */
/* ============================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: white;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 8px;
}

.logo-icon {
    font-size: 24px;
    font-weight: bold;
    color: #0047bb;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    letter-spacing: .6px;
}
.nav-links li a{
    text-decoration: none;
    color: #0c2753;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    letter-spacing: .9px;
}

.login-btn {
    padding: 8px 15px;
    border: 1px solid green;
    background: white;
    color: green;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
}

.start-btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-buttons {
    display: none;
}

/* ============================= */
/* NAV RESPONSIVE */
/* ============================= */

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background: white;
        width: 100%;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-buttons {
        display: none;
    }

    .mobile-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}

 