.hero-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 60px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-right {
  flex: 1;
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Skeleton Animation */
.skeleton {
  background: linear-gradient(
    90deg,
    #eeeeee 25%,
    #dddddd 50%,
    #eeeeee 75%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Responsive */
@media (max-width: 992px) {
  .hero-skeleton {
    flex-direction: column;
  }
}


/* ========================== Navbar =============== */

.navbar-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.nav-center {
  display: flex;
  gap: 30px;
}

.nav-right {
  display: flex;
  gap: 15px;
}
