/* ============================= */
/* HERO SECTION */
/* ============================= */

.section-one {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
    background: linear-gradient(to right, #ffffff, #d8e7ff);
    height: calc(100vh - 80px);
}

.left {
    flex: 1;
    max-width: 600px;
}

.badge {
    display: inline-block;
    padding: 12px 28px;
    background: #e0e7ff;
    color: #0047bb;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.left h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
    color: #021440;
}

.left h1 span {
    color: #0047bb;
}

.left h3 {
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    color: #444;
}

.left p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: 15px;
}

.primary-btn {
    padding: 12px 25px;
    background: #0047bb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: .6px;
}

.secondary-btn {
    letter-spacing: .6px;
    padding: 12px 25px;
    background: white;
    font-size: 16px;
    border: 2px solid #0047bb;
    color: #0047bb;
    border-radius: 8px;
    cursor: pointer;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* ============================= */
/* DASHBOARD WRAPPER */
/* ============================= */

.dashboard-wrapper {
    /* width: 450px;
    height: 453px; */
    background: #f9fafc;
    border-radius: 15px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.dashboard-header {
    background: linear-gradient(135deg, #0047bb, #6c63ff);
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.dashboard-tabs {
    display: flex;
    gap: 25px;
    padding: 15px 20px;
    font-weight: 600;
}

.dashboard-tabs span {
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    color: #777;
}

.active-tab {
    color: #0047bb;
    border-bottom: 3px solid #0047bb;
    padding-bottom: 5px;
}

/* Stats */

.dashboard-stats {
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.stat-card {
    background: #eef1f8;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}

.stat-card h2 {
    font-size: 20px;
    font-weight: 700;
}

.stat-card p {
    font-size: 14px;
    color: #888;
}

/* Revenue */

.revenue-section {
    padding: 20px;
    background: #e7edff;
    border-radius: 8px;
    margin: 15px;
}

.revenue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-btn {
    background: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    border: 1px solid #ddd;
}

/* Chart */

.chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}

.bar {
    width: 40px;
    background: linear-gradient(180deg, #7c95ff, #0047bb);
    border-radius: 4px 4px 4px 4px;
}

.months {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #777;
}

/* Transactions */

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.left-part {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.blue {
    background: #5a73f7;
}

.light {
    background: #7c95ff;
}

.green {
    color: #27ae60;
    font-weight: 600;
}

.red {
    color: #e74c3c;
    font-weight: 600;
}

/* ============================= */
/* HERO RESPONSIVE */
/* ============================= */

@media (max-width: 992px) {
    .section-one {

        flex-direction: column;
        text-align: center;
        padding: 60px 20px;
        height: 170vh;
    }

    .buttons {
        justify-content: center;
    }

    .right {
        margin-top: 40px;
    }
}



/* =============================== */
/* BUSINESS FEATURES SECTION */
/* =============================== */

.business-features {
    padding: 100px 160px;
}

.small-badge {
    display: inline-block;
    background: #e7edff;
    color: #0047bb;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.features-heading {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
}

.features-heading h2 {
    font-size: 42px;
    font-weight: 800;
    color: #0f1d40;
    line-height: 1.2;
}

.features-heading span {
    color: #0047bb;
}

.features-heading p {
    max-width: 450px;
    color: #555;
    line-height: 1.6;
}

.features-heading a {
    color: #0047bb;
    font-weight: 600;
    text-decoration: none;
}

.features-cards {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.feature-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    flex: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-top {
    padding: 40px 20px;
    text-align: center;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.blue-bg {
    background: #0047bb;
}

.orange-bg {
    background: #f5a623;
}

.feature-top h4 {
    font-size: 14px;
    letter-spacing: 1px;
}

.feature-top h3 {
    font-size: 22px;
    font-weight: 800;
}

.feature-card p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.feature-card a {
    color: #0047bb;
    font-weight: 600;
    text-decoration: none;
}

/* Responsive */

@media (max-width: 992px) {

    .features-heading {
        flex-direction: column;

    }

    .features-cards {
        flex-direction: column;
    }

    .business-features {
        padding: 60px 20px;
    }
}





/* ================= SOLUTIONS SECTION ================= */

.solutions-section {
    padding: 100px 8%;
    background: linear-gradient(25deg, #ffffff, #ffffff, #d8e7ff);
}

.solutions-header {
    max-width: 750px;
    margin: auto;
    margin-bottom: 60px;
}

.solutions-header h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 15px;
    text-align: center;
}

.solutions-header span {
    color: #2563eb;
}

.solutions-header p {
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.view-link {
    color: #2563eb;
    font-weight: 600;
    cursor: pointer;
}

/* Layout */
.solutions-layout {
    display: flex;
    gap: 60px;
}

.solutions-left {
    flex: 1;
}

.solution-item {
    border-bottom: 1px solid #e5e7eb;
    padding: 20px 0;
}

.solution-title {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.solution-title.active {
    color: #2563eb;
}

.solution-content {
    margin-top: 15px;
    animation: fadeIn 0.3s ease-in-out;
}

.solution-content p {
    color: #555;
    margin-bottom: 10px;
}

.solution-content ul {
    list-style: none;
    padding-left: 0;
}

.solution-content li {
    margin-bottom: 8px;
}

/* RIGHT SIDE */
.solutions-right {
    flex: 1;
}

.mock-dashboard {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
}

.mock-box {
    height: 80px;
    background: #e5e7eb;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mock-box.small {
    height: 50px;
}

/* Responsive */
@media (max-width: 992px) {
    .solutions-layout {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}






/*======================  FEATURES SECTION ====================================*/
.features-section {
    padding: 80px 20px;
    background: #f8f9fc;
    background: linear-gradient(45deg, #d8e7ff, #fff, #fff, #d8e7ff);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header h1 {
    font-size: 42px;
    font-weight: 700;
    color: #111827;
    line-height: 1.4;
    line-height: 42px;
}

.section-header h1 span {
    color: #0047bb;
}

.section-header p {
    margin-top: 20px;
    font-size: 18px;
    color: #6b7280;
}

.section-header a {
    color: #0047bb;
    text-decoration: none;
    font-weight: 500;
}

.section-header a:hover {
    text-decoration: underline;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    /* transparent white */
    backdrop-filter: blur(15px);
    /* blur effect */
    -webkit-backdrop-filter: blur(15px);
    /* safari support */

    padding: 30px;
    border-radius: 16px;

    border: 4px solid rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.icon {
    font-size: 35px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #262626;
    text-align: center;
}

.card p {
    font-size: 15px;
    text-align: center;
    color: #6b7280;
    line-height: 1.6;
}

/* Tablet */
@media (max-width: 992px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

    .section-header h1 {
        font-size: 28px;
    }
}





/*======================  PRICE SECTION ====================================*/
.pricing-section {
    padding: 60px 8%;
    background: linear-gradient(-36deg, #d8e7ff, #fff, #fff, #d8e7ff);
}

.pricing-header {
    margin-bottom: 60px;
}

.badge {
    background: #e0e7ff;
    color: #4338ca;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.pricing-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.pricing-title h2 {
    font-size: 42px;
    font-weight: 800;
    color: #0f172a;
}

.pricing-title h2 span {
    color: #0047bb;
}

.pricing-title p {
    max-width: 580px;
    color: #475569;
    font-size: 16px;
    text-align: center;
}

.pricing-title a {
    color: #0047bb;
    text-decoration: none;
}

/* Cards */

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.pricing-card {
    background: white;
    padding: 50px 30px;
    text-align: center;
    border-radius: 14px;
    transition: 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.pricing-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.pricing-card h4 {
    font-size: 24px;
    color: #334155;
    margin-bottom: 20px;
}

.pricing-card h1 {
    font-size: 48px;
    font-weight: 800;
    color: #0f172a;
}

.sub-text {
    color: #64748b;
    margin-bottom: 25px;
}

.description {
    color: #475569;
    font-size: 16px;
    margin-bottom: 30px;
}

.link-btn {
    background: none;
    border: none;
    color: #0047bb;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

/* ============================= */
/*  Tablet Responsive */
/* ============================= */

@media (max-width: 1024px) {
    .pricing-title {
        flex-direction: column;
    }

    .pricing-title h2 {
        font-size: 36px;
    }

    .pricing-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ============================= */
/*  Mobile Responsive */
/* ============================= */

@media (max-width: 768px) {
    .pricing-section {
        padding: 60px 5%;
    }

    .pricing-title h2 {
        font-size: 30px;
    }

    .pricing-title p {
        font-size: 14px;
    }

    .pricing-cards {
        grid-template-columns: 1fr;
    }

    .pricing-card {
        padding: 40px 25px;
    }

    .pricing-card h1 {
        font-size: 40px;
    }
}




/* ===================================== WHY CHOOSE SECTION =============================== */
.why-section {
    padding: 80px 8%;
    background: #f8fafc;
    text-align: center;
    background: linear-gradient(33deg, #d8e7ff, #fff, #fff, #d8e7ff);
}

/* Header */

.why-header .badge {
    background: #e0e7ff;
    color: #4338ca;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
}

.why-header h2 {
    font-size: 42px;
    font-weight: 800;
    margin: 2px 0;
    color: #0f172a;
}

.why-header h2 span {
    color: #0047bb;
}

.why-header p {
    color: #475569;
    font-size: 18px;
    max-width: 8a00px;
    margin: 0 auto 40px auto;
}

/* Cards */

.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.why-card {
    padding: 40px 30px;
    border-radius: 20px;
    background: transparent;
    transition: 0.4s ease;
 }

.why-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0047bb;
}

.why-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1e293b;
}

.why-card p {
    color: #64748b;
    line-height: 1.6;
    font-size: 18px;
}

/* ========================= */
/* Responsive */
/* ========================= */

@media (max-width: 1024px) {
    .why-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .why-container {
        grid-template-columns: 1fr;
    }

    .why-header h2 {
        font-size: 30px;
    }

    .why-header p {
        font-size: 15px;
    }
}





/* ============================= */
/* BUILD BUSINESS SECTION */
/* ============================= */

.build-business-section {
    background: #f4f6fb;
    padding: 20px 20px 100px 20px;
    text-align: center;
    background: linear-gradient(-20deg, #d8e7ff, #fff, #fff, #d8e7ff);
}

.build-business-container {
    max-width: 950px;
    margin: auto;
}

.build-business-title {
    line-height: 56px;
    font-size: 52px;
    font-weight: 800;
    color: #021440;
}

.build-business-title span {
    color: #0047bb;
}

.build-business-subtitle {
    margin-top: 8px;
    font-size: 20px;
    color: #434e5c;
}

/* Buttons */

.build-business-buttons {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.build-btn-primary {
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito';
    box-shadow: 0 10px 15px rgb(0 0 0 / .3);
    background: #008308;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.build-btn-secondary {
    font-family: 'Nunito';
    padding: 15px 30px;
    text-transform: uppercase;
    box-shadow: 0 10px 15px rgb(0 0 0 / .3);
    font-weight: bold;
    background: #0047bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}







.footer {
    background-color: #021440;
    color: #fff;
    padding-top: 80px;
    position: relative;
}

/* ===== Demo Bar ===== */

.demo-bar {
    width: 80%;
    margin: -40px auto 60px;
    margin-top: -115px;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.demo-bar input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Nunito';
}

.demo-bar button {
    background-color: #0047bb;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.demo-bar button:hover {
    transform: translateY(-2px);
}

 